<% layout("/layouts/boilerplate") -%>
<body>
    <h2 class="offset-2">Update Details</h2>
    <div class="row">
        <div class="col-8 offset-2">
    <form method="POST" action="/listings/<%= newlisting.id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div>
            <label for="title">Enter Title</label>
        <input type="text" name="listing[title]" id="title" value="<%= newlisting.title %>" class="form-control" required>
        </div>
        
        <div>
            <label for="description">Enter Description</label>
        <textarea type="text" name="listing[description]" id="description"  class="form-control" required><%= newlisting.description %></textarea>

        </div>
<div>
    <img src="<%= originalUrll %>" alt="" srcset="">
</div>
        <div>
            <label for="url">Upload Image</label>
        <input type="file" name="listing[image]" id="url" class="form-control">
        </div>


        <div class="row">
           
            <div class="col-md-4">
                <div>
                    <label for="price">Enter price</label>
        <input type="number" name="listing[price]" id="price" value="<%= newlisting.price %>" class="form-control" required>
                </div>
            </div>
            <div class="col-md-8">
                <div>
                    <label for="location">Enter Location</label>
        <input type="text" name="listing[location]" id="location" value="<%= newlisting.location %>" class="form-control" required>
                </div>
            </div>
        </div>
        <div>
            <label for="country">Enter Country</label>
        <input type="text" name="listing[country]" id="country" value="<%= newlisting.country %>" class="form-control" required>
        </div>
        <button class="btn add-btn">Update</button>
    </form>
        </div>
    </div>
</body>